*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    list-style: none;
}
:root {
    --primary: #0F5C46;
    --dark-green: #073B2D;
    --text: #151515;
    --white: #FFFFFF;
    --background: #F8F8F6;
    --border: #E5E5E2;
    --text-light: #666666;
    --card-bg: #F1EDE7;
    --star: #F2B800;
    --light-green: #E8F2EE;
}